.alltransactiontable{
      background-color: beige;
    border: 2px solid black;
}

table, th, td {
    border: 1px solid ;
    border-radius: 5px;
    padding: 10px;
  }
  table, th, td ,img {
height: 50px;
width: 50px;
  }
table{

    background-color: rgb(202, 211, 210);
}
  .finance{
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .addmaindiv{
   padding: 10px;
    width: 300px;
    border: 2px solid rgb(7, 8, 8);
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  .selectbox{
    height: 40px;
    margin-left: 20px;
  }
  .groupby{
    display: flex;
    
    /* align-items: center; */
    /* text-align: center; */
  }
  .addtransactioninall{
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    margin-left: 40px;
    padding: 10px;
    font-weight: bolder;
  }
  .maingroupby{
    display: flex;
    justify-content: center;
padding: 30px;
  }
  .spangroupby{
    font-size: 30px;
    font-weight: 600;
  }
  .addtransactionform{
    padding: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(196, 194, 194);
    height: auto;
    width: 350px;
    align-items: center;
    }
    .addtransaction{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addtransactionmaindiv{
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pagenumberselect{
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      background-color: rgb(202, 211, 210);
      border: 1px solid #ddd;
       border-radius: 7px;
    }

    .pagenumber{
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      background-color: rgb(255, 245, 245);
      border: 1px solid black;
       border-radius: 7px;
     
    }

    .paginationdiv{
      margin-top: 10px;
    }
    .searchdiv{
      margin-bottom: 30px;
    }
    .searchspan{
      border: 2px solid black;
      border-radius: 5px;
     
      padding: 7px;
      margin-left: 20px;
    }