.mainform{
padding: 50px;
border: 2px solid black;
border-radius: 5px;
background-color: aliceblue;
height: auto;
width: 350px;

}
.maindiv{
    display: flex;
    align-items: center;
    /* justify-items: center; */
    justify-content: center
}

.form__label{
    width: 40%;
    padding-bottom: 60px;
}

.form_input{
    width: 60%;
}