body{
    background-color: rgb(214, 212, 212)
}
.mainform{
padding: 50px;
border: 2px solid rgb(202, 24, 24);
border-radius: 5px;
background-color: aliceblue;
height: auto;
width: 350px;

}
.maindiv{
    display: flex;
    align-items: center;
    /* justify-items: center; */
    justify-content: center
}

.form__label{
    width: 40%;
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: bolder;
}

.form_input{
    width: 60%;
}

.addremove{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 160px;
}
