.main-post{
    flex-wrap: wrap;
    display: flex;
    

}
.postmainclass{
    border-radius: 2px;
    border: 1px solid black;
    width: 400px;
    padding: 30px;
    margin-bottom: 20px;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: rgb(255, 255, 255);
}
.idhead1{
margin-left: 5px;

}
/* .bodypostclass{
    margin: 10px;
    color: green;
}
.titlepostclass{
    margin: 10px;
    color: red;
} */
.tit{
 font-weight: bold;
}

.viewbutton{
      
    border: 2px solid;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    /* background-color: rgb(34, 65, 133); */
}